<mat-toolbar color="secondary">
  <nav>
    <button mat-button >Planification </button>
    <button mat-button >Cadence théorique</button>
    <button mat-button >Charge Production Matéiraux</button>
    <!--<button mat-button [routerLink]="[{ outlets: { child: ['./planning/transfer'] } }]" >Transfert</button>-->
    <button mat-button routerLink="./transfer">Transfer: </button>
    <button mat-button routerLink="./management" >Groupe File</button>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
